.wrapper {
  flex: 1;
  padding: 1.5rem;
}
.title {
  font-size: 24px;
  margin-top: 20px;
}
.list {
  margin-top: 2rem;
}
.list p {
  margin-top: 10px;
}
.member {
  font-size: 22px;
  font-weight: bold;
}
.list li {
  margin-left: 20px;
  margin-top: 10px;
  font-weight: bold;
  font-size: 20px;
}
select {
  font-size: 18px;
}
option {
  font-size: 18px;
}
