.wrapper {
  margin: 2rem;
}
.table {
  width: 100%;
  border-collapse: collapse;
}
.table thead td {
  color: #000000;

  font-style: italic;
}
.table td {
  font-size: 20px;
  text-align: center;

  margin-top: 10px;
}
.table td a {
  color: #0a125b;
  text-decoration: none;
}
tbody:before {
  content: "-";
  display: block;
  line-height: 2em;
  color: transparent;
}
.imgIcon {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin: 0;
}
.send {
  margin-left: 200px;
}
.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.createBtn {
  margin: 2rem;
  padding: 10px 15px;
  background-color: #1285d9;
  color: white;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
}
