main {
  background: rgba(245, 247, 255, 0.85);
  min-height: 100vh;
}

main .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 40px 0;
  border-radius: 10px;
  margin: auto;
  width: 320px;
  height: 931px;
}

main .signup-image {
  border-radius: 10px;
  width: 315px;
  height: 315px;
}

main .signup-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  width: 315px;
}

main h1 {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 800;
  font-size: 42px;
  line-height: 120%;
  text-transform: capitalize;
  color: #2d2d2d;
}

main p {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  text-align: center;
  color: #1f1249;
}

main form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main form div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 20px;
  gap: 12px;
  width: 315px;
  height: 50px;
  background: #ffffff;
  border: 1px solid #dbe3ff;
  border-radius: 10px;
}

main form div img {
  padding-right: 10px;
  border-right: 1px solid #dbe3ff;
}

main form input:not(.signup) {
  flex: 1;
  width: 230px;
  height: 44px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  display: flex;
  align-items: center;
  color: #3b3b3b;
  outline: none;
  border: none;
  font-size: 24px;
}

main .signup-text form .error {
  min-height: 20px;
  color: rgb(255, 55, 55);
  align-self: start;
  text-align: start;
}

main .signup {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 50px;
  width: 100%;
  background: linear-gradient(113.87deg, #2663df 14.81%, #758ff0 88.76%);
  box-shadow: 0px 6px 18px #9cadf2;
  border-radius: 10px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
}

main .signup:active {
  color: #08174e;
  background: linear-gradient(
    113.87deg,
    rgba(38, 99, 223, 0.1) 14.81%,
    rgba(117, 143, 240, 0.1) 88.76%
  );
}

main .signup[disabled] {
  cursor: not-allowed;
  color: #ffffff;
  background: linear-gradient(113.87deg, #df262688 14.81%, #f0757588 88.76%);
}

@media (min-width: 768px) {
  main {
    background-size: 100% 150%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  main .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 60px;
    margin: 0 60px;
    gap: 60px;
    width: 1080px;
    height: 656px;
    background: rgba(245, 247, 255, 0.85);
    border-radius: 10px;
  }

  main .signup-image {
    flex: 1;

    background-position: 50%;
    height: 536px;
    width: auto;
  }

  main .signup-text {
    flex: 1;
    align-items: start;
  }

  main h1 {
    font-size: 5vmin;
  }

  main .signup-text p {
    text-align: start;
  }

  main form div {
    width: 100%;
  }
}
.btnSignup {
  width: 100%;
  padding: 16px 0;
  border: none;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #0d718d;

  color: white;
  font-size: 24px;
}
