.wrapper {
  background-color: #ece9fd;
  height: 100vh;
}
.search {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.icon {
  position: absolute;
  left: 580px;
}
.search-input {
  padding: 4px 15px;
  padding-left: 40px;
  width: 500px;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 10px;
}
.search button {
  padding: 6px 8px;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
}
img {
  display: block;
  margin: 0 auto;
  width: 700px;
  height: 80px;
  object-fit: contain;
  border-radius: 10px;
  margin-bottom: 20px;
}
