.container {
  width: 100%;
  height: 50px;
  margin: 20px;
}
.list-item {
  display: flex;
  padding: 0 80px;
  margin-bottom: 20px;
}
.item {
  width: 20%;
  list-style-type: none;
  margin: 0 2px;
  background-color: #4caf50;
  padding: 12px 0;
  text-align: center;
  cursor: pointer;
}
.item a {
  color: white;
  text-decoration: none;
}
.menu {
  width: 238px;
}
.menu-list {
  height: 100%;
}
.menu-item {
  list-style-type: none;
  border: 1px solid #000;
  padding: 12px 4px;
  cursor: pointer;
}
.menu-item:hover {
  background-color: #919eab;
}
.menu-item a {
  display: block;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  width: 100%;
}
