.form-label {
  font-weight: bold;
}

.form-control {
  border-radius: 5px;
  padding: 12px 0;
  outline: none;
  border: none;
  border-bottom: 1px solid #000;
  flex: 1;
  font-size: 20px;
}

.form-text {
  font-size: 12px;
  color: #ffffff;
}

.forgot-password {
  font-size: 12px;
  margin-top: 10px;
  text-align: right;
}

.forgot-password a {
  color: #ffffff;
  text-decoration: none;
}
.forgot-password a:hover {
  text-decoration: underline;
}
.modal-header {
  padding: 10px;
}
.modal-title {
  color: #333;
  font-size: 18px;
  font-weight: bold;
}

.btn-close {
  color: #ffffff;
}
.wrapper {
  width: 100%;
  height: 100vh;
  background: linear-gradient(120deg, #2980b9, #8e44ad);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-login {
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  width: 500px;
  background-color: #ffffff;
}

.modal-body {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.modal-dialog {
  margin-top: 100px;
}
.mb-3 {
  width: 450px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  margin-top: 15px;
}

.modal {
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-dialog .modal-content {
  background-color: #ffffff;
}

.text {
  color: rgb(0, 0, 0);
  text-align: center;
}
.modal-title {
  text-align: center;
}
.btnLogin {
  margin: 20px 0;
  width: 100%;
  padding: 10px 0;
  font-size: 20px;
  background-color: #1a82c9;
  color: white;
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
}
