.container {
  padding: 20px 100px;
  border-right: 1px solid #4caf50;
  height: 69vh;
}

.item {
  list-style: none;
  padding-left: 15px;
  margin: 2px 0;
  cursor: pointer;
}
.item a {
  display: block;
  text-decoration: none;
  color: #000;
  padding: 8px 30px;
  width: 100%;
}
