.wrapper {
  flex: 1;
  padding: 20px;
  background-color: white;
}
.table {
  width: 100%;
  border: 1px solid #000;
  padding: 10px;
  color: #999;
  border-collapse: separate;
  border-spacing: 0 1em;
}

.button {
  padding: 5px 15px;
  margin-right: 10px;
  cursor: pointer;
  background-color: #f0ad4e;
  border: none;
  outline: none;
  color: white;
  font-size: 20px;
}
