.wrapper {
  flex: 1;
  padding: 1.5rem;
  background-color: white;
}
.list {
  margin-top: 1rem;
}
.list p {
  margin-top: 10px;
}
.list li {
  font-size: 24px;
  margin-left: 40px;
  margin-top: 10px;
}
